.container {
    margin: 20px auto;
    width: 80%;
    }
    
    .header {
    display: flex;
    justify-content: flex-end;
    }
    
    .logout {
    margin-top: 10px;
    margin-right: 10px;
    }
    
    .content {
    margin-top: 30px;
    }
    
    .title {
    margin-bottom: 20px;
    }
    
    .actions {
    margin-bottom: 20px;
    }
    
    .buttons {
    display: flex;
    justify-content: space-between;
    }
    
    .table {
    width: 100%;
    border-collapse: collapse;
    }
    
    .table th,
    .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    
    .table th {
    background-color: #f2f2f2
}
button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
  }
  button[type="button"] {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
  }
  .logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
  
  
  
  
  
  