<div>
    <div>

        <div>

            <a href="#" (click)="goToLogin($event)">Logout</a>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h1>Employees</h1>
            </div>
        </div>
        <div>
            <button (click)="goToAddEmployee($event)" type="submit" class=>New
                Employee</button>
        </div>
        <div>

            <div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>

                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let employee of employees">
                                <tr>

                                    <td>
                                        <span>{{ employee.firstname }} {{ employee.lastname
                                            }}</span>
                                    </td>
                                    <td>{{ employee.email }}</td>
                                    <td>
                                        <div>
                                            <button (click)="showDialog = true; selectedEmployee = employee;">
                                                View
                                            </button>
                                            <button (click)="goToUpdate($event, employee);">
                                                Update
                                            </button>
                                            <button (click)="showDeleteDialog = true; selectedEmployee = employee;">
                                                    Delete
                                            </button>
                                        </div>
                                    </td>

                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showDialog">
    <div>
        <div>
            <div></div>
        </div>
        <span></span>
        <div>
            <div>
                <h2>{{
                    selectedEmployee.firstname }} {{ selectedEmployee.lastname }}</h2>
                <p>Email:{{ selectedEmployee.email }}
                </p>
                <p>Gender:{{ selectedEmployee.gender |
                    titlecase }}</p>
                <p>Salary: ${{ selectedEmployee.salary
                    }}</p>
            </div>
            <div>
                <button type="button" (click)="showDialog = false">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showDeleteDialog">
    <div>
        <div>
            <div></div>
        </div>
        <span></span>
        <div>
            <div>
                <h2>Are you sure you want to
                    delete this employee?</h2>
            </div>
            <div>
                <button type="button" (click)="showDeleteDialog = false">
                    Cancel
                </button>
                <button type="button" (click)="deleteEmployee()">
                    Yes, delete
                </button>

            </div>
        </div>
    </div>
</div>